body {
  text-align: center;
  background-image: url("/assets/images/backgroundForBloctime.jpg");
  font-family: 'IBM Plex Serif', serif;
  }

.pull-left {
  background-color: white;
  overflow: scroll;
  float: left !important;
}
